/SuperAI_SS4_Level_1/Hack_1_Image_Search/datasets
/SuperAI_SS4_Level_1/Hack_1_Image_Search/submissions
/SuperAI_SS4_Level_1/Hack_1_Image_Search/database

/SuperAI_SS4_Level_1/Hack_2_Thaijo_Researcher/datasets
/SuperAI_SS4_Level_1/Hack_2_Thaijo_Researcher/submissions

/SuperAI_SS4_Level_1/Hack_3_Ultrawideband_Pose_Prediction/datasets
/SuperAI_SS4_Level_1/Hack_3_Ultrawideband_Pose_Prediction/models
/SuperAI_SS4_Level_1/Hack_3_Ultrawideband_Pose_Prediction/submissions

/SuperAI_SS4_Level_1/Hack_4_Soil_Water_Prediction/AutogluonModels
/SuperAI_SS4_Level_1/Hack_4_Soil_Water_Prediction/datasets
/SuperAI_SS4_Level_1/Hack_4_Soil_Water_Prediction/submissions

/SuperAI_SS4_Level_1/Hack_5_NithanChadok_NER/datasets
/SuperAI_SS4_Level_1/Hack_5_NithanChadok_NER/submissions

/SuperAI_SS4_Level_1/Hack_6_OCR/datasets
/SuperAI_SS4_Level_1/Hack_6_OCR/submissions

/SuperAI_SS4_Level_1/Pre_Diabetes_Prediction/datasets
/SuperAI_SS4_Level_1/Pre_Diabetes_Prediction/submissions


/SuperAI_SS4_Level_2/Hack_1_Image_Captioning/datasets
/SuperAI_SS4_Level_2/Hack_1_Image_Captioning/submissions

/SuperAI_SS4_Level_2/Hack_2_Table_Question_Answering/datasets
/SuperAI_SS4_Level_2/Hack_2_Table_Question_Answering/submissions

/SuperAI_SS4_Level_2/Hack_3_Legal_Act_Classification/datasets
/SuperAI_SS4_Level_2/Hack_3_Legal_Act_Classification/submissions

/SuperAI_SS4_Level_2/Hack_4_Brain_Motor_Imagery/datasets
/SuperAI_SS4_Level_2/Hack_4_Brain_Motor_Imagery/submissions

/SuperAI_SS4_Level_2/Hack_5_Home_Credit_Risk/datasets
/SuperAI_SS4_Level_2/Hack_5_Home_Credit_Risk/submissions

/SuperAI_SS4_Level_2/Hack_6_Liver_Ultrasound_Detection/lightning_logs
/SuperAI_SS4_Level_2/Hack_6_Liver_Ultrasound_Detection/datasets
/SuperAI_SS4_Level_2/Hack_6_Liver_Ultrasound_Detection/.ipynb_checkpoints
/SuperAI_SS4_Level_2/Hack_6_Liver_Ultrasound_Detection/submissions
/SuperAI_SS4_Level_2/Hack_6_Liver_Ultrasound_Detection/models

/SuperAI_SS4_Level_2/Hack_7_Forest_Type_Classification/AutogluonModels
/SuperAI_SS4_Level_2/Hack_7_Forest_Type_Classification/catboost_info
/SuperAI_SS4_Level_2/Hack_7_Forest_Type_Classification/lightning_logs
/SuperAI_SS4_Level_2/Hack_7_Forest_Type_Classification/datasets
/SuperAI_SS4_Level_2/Hack_7_Forest_Type_Classification/features
/SuperAI_SS4_Level_2/Hack_7_Forest_Type_Classification/submissions

/SuperAI_SS4_Individual_Hackathon/Hack_1_License_Plate_Recognition/datasets
/SuperAI_SS4_individual_Hackathon/Hack_1_License_Plate_Recognition/submissions

/SuperAI_SS4_individual_Hackathon/Hack_2_Nithan_Chadok_Hybrid_OCR-NER/datasets
/SuperAI_SS4_individual_Hackathon/Hack_2_Nithan_Chadok_Hybrid_OCR-NER/submissions

/SuperAI_SS4_individual_Hackathon/Hack_3_Car_Prediction/AutogluonModels
/SuperAI_SS4_individual_Hackathon/Hack_3_Car_Prediction/catboost_info
/SuperAI_SS4_individual_Hackathon/Hack_3_Car_Prediction/datasets
/SuperAI_SS4_individual_Hackathon/Hack_3_Car_Prediction/features
/SuperAI_SS4_individual_Hackathon/Hack_3_Car_Prediction/submissions

/SuperAI_SS4_individual_Hackathon/Hack_4_Temperature_Prediction/AutogluonModels
/SuperAI_SS4_individual_Hackathon/Hack_4_Temperature_Prediction/catboost_info
/SuperAI_SS4_individual_Hackathon/Hack_4_Temperature_Prediction/datasets
/SuperAI_SS4_individual_Hackathon/Hack_4_Temperature_Prediction/features
/SuperAI_SS4_individual_Hackathon/Hack_4_Temperature_Prediction/submissions

/SuperAI_SS4_individual_Hackathon/Hack_5_Sleep_Stages_Classification/catboost_info
/SuperAI_SS4_individual_Hackathon/Hack_5_Sleep_Stages_Classification/database
/SuperAI_SS4_individual_Hackathon/Hack_5_Sleep_Stages_Classification/datasets
/SuperAI_SS4_individual_Hackathon/Hack_5_Sleep_Stages_Classification/features
/SuperAI_SS4_individual_Hackathon/Hack_5_Sleep_Stages_Classification/lightning_logs
/SuperAI_SS4_individual_Hackathon/Hack_5_Sleep_Stages_Classification/models
/SuperAI_SS4_individual_Hackathon/Hack_5_Sleep_Stages_Classification/submissions

/SuperAI_SS4_individual_Hackathon/Pre_Apartment_For_Rent_Prediction

/SuperAI_SS4_individual_Hackathon/Pre_Extractive_QA

/SuperAI_SS4_individual_Hackathon/Pre_Signal_Processing