/SuperAI_SS4_Level_1/Hack_1_Image_Search/datasets
/SuperAI_SS4_Level_1/Hack_1_Image_Search/submissions
/SuperAI_SS4_Level_1/Hack_1_Image_Search/database

/SuperAI_SS4_Level_1/Hack_2_Thaijo_Researcher/datasets
/SuperAI_SS4_Level_1/Hack_2_Thaijo_Researcher/submissions

/SuperAI_SS4_Level_1/Hack_3_Ultrawideband_Pose_Prediction/datasets
/SuperAI_SS4_Level_1/Hack_3_Ultrawideband_Pose_Prediction/submissions

/SuperAI_SS4_Level_1/Hack_4_Soil_Water_Prediction/datasets
/SuperAI_SS4_Level_1/Hack_4_Soil_Water_Prediction/submissions

/SuperAI_SS4_Level_1/Hack_5_NithanChadok_NER/datasets
/SuperAI_SS4_Level_1/Hack_5_NithanChadok_NER/submissions

/SuperAI_SS4_Level_1/Hack_6_OCR/datasets
/SuperAI_SS4_Level_1/Hack_6_OCR/submissions

/SuperAI_SS4_Level_1/Pre_Diabetes_Prediction/datasets
/SuperAI_SS4_Level_1/Pre_Diabetes_Prediction/submissions


/SuperAI_SS4_Level_2/Hack_1_Image_Captioning/datasets
/SuperAI_SS4_Level_2/Hack_1_Image_Captioning/submissions

/SuperAI_SS4_Level_2/Hack_2_Table_Question_Answeringg/datasets
/SuperAI_SS4_Level_2/Hack_2_Table_Question_Answering/submissions

/SuperAI_SS4_Level_2/Hack_3_Legal_Act_Classification/datasets
/SuperAI_SS4_Level_2/Hack_3_Legal_Act_Classification/submissions

/SuperAI_SS4_Level_2/Hack_4_Brain_Motor_Imagery/datasets
/SuperAI_SS4_Level_2/Hack_4_Brain_Motor_Imagery/submissions

/SuperAI_SS4_Level_2/Hack_5_Home_Credit_Risk/datasets
/SuperAI_SS4_Level_2/Hack_5_Home_Credit_Risk/submissions
